<section class="jumbotron">
  <img src="/images/{{id}}001.jpg" class="main-image img-responsive" alt="art">
</section>

<section>
  <div class="container">
      <h1>{{name}}</h1>
      <p>{{about}}</p>
      <p><strong>Website:</strong> <a href="{{website}}">{{website}}</a></p>
      <p><strong>Phone:</strong> {{phone}}</p>
      <p><strong>Followers:</strong> {{followers}}</p>
  </div>
</section>

<section>
  <!-- <div class="container">
    <h2>Latest Artwork</h2>
    {{#each ID}}
      <a href="/artwork/{{this}}"><img class="img-responsive artwork" src="/images/{{this}}.jpg" alt="Artwork" /></a>
    {{/each}}
  </div> -->

</section>
