<section class="jumbotron ">
  <img src="/images/{{artworkId}}.jpg" class="main-image img-responsive" alt="art">
</section>

<section>
  <div class="container">
    <a href="/artist/{{artistId}}">Artist</a>
      <h1>{{name}}</h1>
      <p>Description: {{about}}</p>
      <ul>
        <li>Address: {{address}}</li>
        <li>Likes: {{likes}}</li>
      </ul>
  </div>
</section>

<!-- <section>
  <div class="container">
    <h2>Latest Artwork</h2>
    {{#each ID}}
      <a href="/artwork/{{this}}"><img class="img-responsive artwork" src="/images/{{this}}.jpg" alt="Artwork" /></a>
    {{/each}}
  </div>

</section> -->
