<section class="jumbotron ">
  <img src="/images/{{artworkId}}.jpg" class="main-image img-responsive" alt="art">
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-6">
        {{#if name}}
          <h2>{{name}}</h2>
        {{/if}}
        {{#if about}}
          <p><strong>Description:</strong> {{about}}</p>
        {{/if}}
        {{#if address}}
          <p><strong>Address: </strong>{{address}}</p>
        {{/if}}
        {{#if likes}}
          <p><strong>Likes:</strong> {{likes}}</p>
        {{/if}}
        <p><a href="/artist/{{artistId}}">Click here</a> for more artist information</p>
      </div>
    </div>
  </div>
</section>
